#include        <resource.h>
//*****************************************************************************
#define IDD_FLOATCONDLG                 1000
#define IDD_DOUBLECONDLG                1001
#define IDC_ICO                         1104
//-----------------------------------------------------------------------------
#define IDC_COPYBUTTON                  1105
#define IDC_PASTEBUTTON                 1106
#define IDC_DECBUTTON                   1
#define IDC_EXITBUTTON                  2
#define IDC_HEXBUTTON                   3
#define IDC_BINBUTTON                   4
#define IDC_DOUBLEBUTTON                1002
#define IDC_FLOATBUTTON                 1003
//-----------------------------------------------------------------------------
#define IDC_DDECEDIT                    1004
#define IDC_DHEXEDIT                    1005
#define IDC_DBINEDIT63                  1006
#define IDC_DBINEDIT62                  1007
#define IDC_DBINEDIT61                  1008
#define IDC_DBINEDIT60                  1009
#define IDC_DBINEDIT59                  1010
#define IDC_DBINEDIT58                  1011
#define IDC_DBINEDIT57                  1012
#define IDC_DBINEDIT56                  1013
#define IDC_DBINEDIT55                  1014
#define IDC_DBINEDIT54                  1015
#define IDC_DBINEDIT53                  1016
#define IDC_DBINEDIT52                  1017
#define IDC_DBINEDIT51                  1018
#define IDC_DBINEDIT50                  1019
#define IDC_DBINEDIT49                  1020
#define IDC_DBINEDIT48                  1021
#define IDC_DBINEDIT47                  1022
#define IDC_DBINEDIT46                  1023
#define IDC_DBINEDIT45                  1024
#define IDC_DBINEDIT44                  1025
#define IDC_DBINEDIT43                  1026
#define IDC_DBINEDIT42                  1027
#define IDC_DBINEDIT41                  1028
#define IDC_DBINEDIT40                  1029
#define IDC_DBINEDIT39                  1030
#define IDC_DBINEDIT38                  1031
#define IDC_DBINEDIT37                  1032
#define IDC_DBINEDIT36                  1033
#define IDC_DBINEDIT35                  1034
#define IDC_DBINEDIT34                  1035
#define IDC_DBINEDIT33                  1036
#define IDC_DBINEDIT32                  1037
#define IDC_DBINEDIT31                  1038
#define IDC_DBINEDIT30                  1039
#define IDC_DBINEDIT29                  1040
#define IDC_DBINEDIT28                  1041
#define IDC_DBINEDIT27                  1042
#define IDC_DBINEDIT26                  1043
#define IDC_DBINEDIT25                  1044
#define IDC_DBINEDIT24                  1045
#define IDC_DBINEDIT23                  1046
#define IDC_DBINEDIT22                  1047
#define IDC_DBINEDIT21                  1048
#define IDC_DBINEDIT20                  1049
#define IDC_DBINEDIT19                  1050
#define IDC_DBINEDIT18                  1051
#define IDC_DBINEDIT17                  1052
#define IDC_DBINEDIT16                  1053
#define IDC_DBINEDIT15                  1054
#define IDC_DBINEDIT14                  1055
#define IDC_DBINEDIT13                  1056
#define IDC_DBINEDIT12                  1057
#define IDC_DBINEDIT11                  1058
#define IDC_DBINEDIT10                  1059
#define IDC_DBINEDIT09                  1060
#define IDC_DBINEDIT08                  1061
#define IDC_DBINEDIT07                  1062
#define IDC_DBINEDIT06                  1063
#define IDC_DBINEDIT05                  1064
#define IDC_DBINEDIT04                  1065
#define IDC_DBINEDIT03                  1066
#define IDC_DBINEDIT02                  1067
#define IDC_DBINEDIT01                  1068
#define IDC_DBINEDIT00                  1069
//-----------------------------------------------------------------------------
#define IDC_FDECEDIT                    1070
#define IDC_FHEXEDIT                    1071
#define IDC_FBINEDIT31                  1072
#define IDC_FBINEDIT30                  1073
#define IDC_FBINEDIT29                  1074
#define IDC_FBINEDIT28                  1075
#define IDC_FBINEDIT27                  1076
#define IDC_FBINEDIT26                  1077
#define IDC_FBINEDIT25                  1078
#define IDC_FBINEDIT24                  1079
#define IDC_FBINEDIT23                  1080
#define IDC_FBINEDIT22                  1081
#define IDC_FBINEDIT21                  1082
#define IDC_FBINEDIT20                  1083
#define IDC_FBINEDIT19                  1084
#define IDC_FBINEDIT18                  1085
#define IDC_FBINEDIT17                  1086
#define IDC_FBINEDIT16                  1087
#define IDC_FBINEDIT15                  1088
#define IDC_FBINEDIT14                  1089
#define IDC_FBINEDIT13                  1090
#define IDC_FBINEDIT12                  1091
#define IDC_FBINEDIT11                  1092
#define IDC_FBINEDIT10                  1093
#define IDC_FBINEDIT09                  1094
#define IDC_FBINEDIT08                  1095
#define IDC_FBINEDIT07                  1096
#define IDC_FBINEDIT06                  1097
#define IDC_FBINEDIT05                  1098
#define IDC_FBINEDIT04                  1099
#define IDC_FBINEDIT03                  1100
#define IDC_FBINEDIT02                  1101
#define IDC_FBINEDIT01                  1102
#define IDC_FBINEDIT00                  1103
//*****************************************************************************
IDC_ICO     ICON        "Main.ico"
;1           24          "FloatConvert.manifest"
//*****************************************************************************
IDD_FLOATCONDLG DIALOGEX 120, 180, 409, 146
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "单精度浮点数转换"
FONT 9, "宋体", 400, 0, 0x86
BEGIN
    EDITTEXT        IDC_FDECEDIT,98,57,73,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_FHEXEDIT,98,75,73,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT31,12,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT30,33,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT29,45,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT28,57,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT27,69,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT26,81,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT25,93,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT24,105,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT23,117,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT22,129,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT21,141,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT20,153,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT19,165,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT18,177,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT17,189,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT16,201,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT15,213,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT14,225,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT13,237,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT12,249,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT11,261,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT10,273,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT09,285,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT08,297,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT07,309,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT06,321,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT05,333,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT04,345,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT03,357,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT02,369,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT01,381,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_FBINEDIT00,393,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "由十进制转换(&D)",IDC_DECBUTTON,183,18,78,18
    PUSHBUTTON   "由十六进制转换(&H)",IDC_HEXBUTTON,183,44,78,18
    PUSHBUTTON   "由二进制转换(&B)",IDC_BINBUTTON,183,69,78,18
    PUSHBUTTON      "复制到剪贴板(&C)",IDC_COPYBUTTON,297,18,78,18
    PUSHBUTTON      "从剪贴板粘贴(&V)",IDC_PASTEBUTTON,297,44,78,18
    PUSHBUTTON      "退出(&X)",IDC_EXITBUTTON,297,69,78,18
    PUSHBUTTON   "双精度浮点数转换→(&S)",IDC_DOUBLEBUTTON,18,18,126,27
    LTEXT           "Greatboy. All Rights Reserved",IDC_STATIC,290,137,120,8
    LTEXT           "十进制数",IDC_STATIC,62,59,33,8
    LTEXT           "符号位",IDC_STATIC,4,93,24,8
    LTEXT           "指数位",IDC_STATIC,68,93,24,8
    LTEXT           "尾数位",IDC_STATIC,254,93,24,8
    LTEXT           "十六进制数",IDC_STATIC,54,77,42,8
    LTEXT           "二进制数",IDC_STATIC,3,78,36,8
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,33,96,36,1
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,90,96,39,1
    LTEXT           "31   30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 09 08 07 06 05 04 03 02 01 00",
                    IDC_STATIC,14,123,390,8
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,129,96,123,1
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,279,96,123,1
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDVERT,128,91,1,12
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDVERT,402,92,1,11
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDVERT,33,92,1,11
END
//-----------------------------------------------------------------------------
IDD_DOUBLECONDLG DIALOGEX 120, 180, 409, 186
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "双精度浮点数转换"
FONT 9, "宋体", 400, 0, 0x86
BEGIN
    EDITTEXT        IDC_DDECEDIT,98,57,73,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DHEXEDIT,98,75,73,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT63,12,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT62,33,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT61,45,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT60,57,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT59,69,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT58,81,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT57,93,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT56,105,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT55,117,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT54,129,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT53,141,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT52,153,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT51,165,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT50,177,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT49,189,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT48,201,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT47,213,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT46,225,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT45,237,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT44,249,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT43,261,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT42,273,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT41,285,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT40,297,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT39,309,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT38,321,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT37,333,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT36,345,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT35,357,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT34,369,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT33,381,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT32,393,105,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT31,21,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT30,33,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT29,45,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT28,57,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT27,69,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT26,81,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT25,93,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT24,105,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT23,117,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT22,129,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT21,141,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT20,153,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT19,165,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT18,177,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT17,189,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT16,201,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT15,213,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT14,225,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT13,237,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT12,249,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT11,261,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT10,273,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT09,285,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT08,297,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT07,309,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT06,321,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT05,333,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT04,345,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT03,357,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT02,369,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT01,381,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_DBINEDIT00,393,147,9,12,ES_CENTER | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "由十进制转换(&D)",IDC_DECBUTTON,183,18,78,18
    PUSHBUTTON   "由十六进制转换(&H)",IDC_HEXBUTTON,183,44,78,18
    PUSHBUTTON   "由二进制转换(&B)",IDC_BINBUTTON,183,69,78,18
    PUSHBUTTON      "复制到剪贴板(&C)",IDC_COPYBUTTON,297,18,78,18
    PUSHBUTTON      "从剪贴板粘贴(&V)",IDC_PASTEBUTTON,297,44,78,18
    PUSHBUTTON      "退出(&X)",IDC_EXITBUTTON,297,69,78,18
    PUSHBUTTON   "单精度浮点数转换→(&S)",IDC_FLOATBUTTON,18,18,126,27
    LTEXT           "Greatboy. All Rights Reserved",IDC_STATIC,290,177,120,8
    LTEXT           "十进制数",IDC_STATIC,62,59,33,8
    LTEXT           "符号位",IDC_STATIC,4,93,24,8
    LTEXT           "指数位",IDC_STATIC,86,93,24,8
    LTEXT           "尾数位",IDC_STATIC,272,93,24,8
    LTEXT           "十六进制数",IDC_STATIC,54,77,42,8
    LTEXT           "二进制数",IDC_STATIC,3,78,36,8
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,33,96,51,1
    LTEXT           "63   62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32",
                    IDC_STATIC,14,123,390,8
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,111,96,159,1
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,297,96,105,1
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDVERT,163,91,1,12
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDVERT,402,92,1,11
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDVERT,33,92,1,11
    LTEXT           "尾数位",IDC_STATIC,200,135,24,8
    LTEXT           "31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 09 08 07 06 05 04 03 02 01 00",
                    IDC_STATIC,23,164,382,8
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,21,137,177,1
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,225,137,177,1
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDVERT,402,133,1,10
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDVERT,21,133,1,10    
END
